<!DOCTYPE html>
{% extends "cafe/base-template.html" %}
	{% block title_block %}
	<title>Members List</title>
	{% endblock %}
			
	{% block body_block %}
		<h2>Registered Members of Hackers' Den</h2>
		<h4>Please respect others privacy</h4>
			<div class="datatable">
				{% if members %}
				<table>
					<thead>
						<th>First Name</th>
						<th>Last Name </th>
						<th>Email</th>
					</thead>
					{% for item in members %}
					<tr>
						<td>{{ item.first_name }}</td>
						<td>{{ item.last_name }}</td>
						<td>{{ item.email }}</td>
					</tr>
					{% endfor %}
				</table>
				{% else %}
					<p>No Registered Members Found</p>
				{% endif %}
			</div>
	{% endblock %}


