<!DOCTYPE html>
{% extends 'signup/base-template.html' %}

	{% block head_block %}
		<title>Data Sheet</title>
	{% endblock %}

	{% block body_block %}

		<div>
			<h1>InfoClub Registered Customers Data</h1>
			{{ insert_me }}
		</div>

		<div class="datatable">
			{% if signup %}  <!-- signup Tag called from views.py -->
				<table>
					<thead>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</thead>

					{% for item in signup %}
					<tr>
						<td>{{ item.first_name }}</td>
						<td>{{ item.last_name }}</td>
						<td>{{ item.email }}</td>
					</tr>
					{% endfor %}
				</table>
				{% else %}
					<p>No User Registration Data Found</p>
				{% endif %}
		</div>
	{% endblock %}
