<!DOCTYPE html>
{% extends 'signup/base-template.html' %}

	{% block head_block %}
		<title>Registration Form</title>
	{% endblock %}

	{% block body_block %}
	<div class="jumbotron">
		{% if registered %}
			<h1> Thank you for registering!</h1>
		{% else %}
			<h1>Register Here</h1>
			<form enctype="multipart/form-data" method="POST">
				{{ user_form.as_p }}	<!-- Connection from view.py -->
				{{ profile_form.as_p }}
				{% csrf_token %}
				<input type="submit" class="btn btn-primary" value="Signup">
			</form>
		{% endif %}
	</div>
	{% endblock %}
