<!DOCTYPE html>
{% extends "base-template.html" %}
	{% block title_block %}
	<title>Investigators List</title>
	{% endblock %}
			
	{% block body_block %}
		<h2>Registered Investigators of LAWFAT</h2>
			<div class="datatable">
				{% if members %}
				<table>
					<thead>
						<th>First Name</th>
						<th>Last Name </th>
						<th>Email</th>
					</thead>
					{% for item in members %}
					<tr>
						<td>{{ item.first_name }}</td>
						<td>{{ item.last_name }}</td>
						<td>{{ item.email }}</td>
					</tr>
					{% endfor %}
				</table>
				{% else %}
					<p>No Registered Investigators Found</p>
				{% endif %}
			</div>
	{% endblock %}


